@using Data
@model IEnumerable<Person>
@{
    ViewBag.Title = "Home Page";
}

<div>
    <a href="/home/addperson">Add People</a>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
        </tr>
        @foreach (Person p in Model)
        {
            <tr>
                <td>@p.FirstName</td>
                <td>@p.LastName</td>
                <td>@p.Age</td>
            </tr>
        }
    </table>
</div>
